.button{
    background-color: #dfd816;
    color: #fff;
    padding: 7px 30px;
    border-radius: 5px;
    border: 2px solid #dfd816;
    margin: 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    transition: all 0.3s;

    &:hover{
        background-color: transparent;
        color: #000;
        border: 2px solid #dfd816;
    }
}